<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page Not Found</title>
    <link rel="stylesheet" href="./404.css">
</head>
<body>
    <header class="header">
        <img class="header__img" src="../icons/logo-platzi.png" alt="Logo Platzi Video">
        <div class="header__menu">
            <div class="header__menu--profile">
                <img src="../icons/user-icon.png" alt="User">
                <p>Perfil</p>
            </div>
            <div>
                <ul>
                    <li><a href="/">Cuenta</a></li>
                    <li><a href="/">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </header>
    <section class="error__container">
        <section class="error__container--title">
            <h2 class="text-pulse animated pulse">404</h2>
        </section>
        <p>Pagina no encontrada</p>
    </section>



    <footer class="footer">
        <a href="/">Términos de uso</a>
        <a href="/">Declaración de privacidad</a>
        <a href="/">Centro de ayuda</a>
    </footer>
</body>
</html>