body {
    margin: 0px;
    font-family:  'Quicksand', sans-serif;
}
.header {
    align-items: center;
    background-color: #21c08b;
    color: white;
    height: 100px;
    width: 100%;
    top: 0px;
    display: flex;
    justify-content: space-between;
}
.header__img {
    width: 200px;
    margin-left: 30px;
}
.register {
    background: linear-gradient(#21C08B, #AB88FF);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 200px);
    padding: 0 20px;
}
.register__container {
    background-color: rgba(255, 255, 255, 0.1);
    border: 5px solid white;
    border-radius: 50px;
    color: white;
    padding: 60px 60px 40px;
    min-height: 700px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.register__container--form {
    display: flex;
    flex-direction: column;
}
.input {
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;        
    font-family:  'Quicksand', sans-serif;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
}
::placeholder {
    color: white;
}
.button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    outline: none;
    margin: 10px 0px;
}

    .register__container--iniciar-sesion {
        font-size: 14px;
        display: flex;
        justify-content: center;
    }
    .register__container--iniciar-sesion a {
        font-size: 16px;
        color: white;
        font-weight: bold;
        text-decoration: none;
    }
    .register__container--iniciar-sesion a:hover {
        text-decoration: underline;
    }

.footer {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #AB88FF;
}
.footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
    font-weight: bold;
}